<div id="main-contents">

<div class="bg">
<h2 class="pb-3">モワメームとはフランスのことばで「自分自身自身」という意味のことばです。</h2>
<p class="font-size: xx-large;">こんにちは！</p>
<p>このサイトは、<b>みんなのポエム</b>を読んだり投稿したりするサイトです！</p>
<p>このサイトでは普段人には言えない気持ちや、</p>
<p>誰かに共感して欲しいことなど、様々な思いをポエムとして文字に残し、</p>
<p>その気持ちにあった画像を投稿してみんなで共有しようというサイトです。</p>

</div>


