.example {
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #3ecdc6;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
  background-image: url("https://static.wixstatic.com/media/028786_693c591fde1040608b6014d7b26c5d6a~mv2.jpg/v1/fill/w_1116,h_956,al_c,q_85,usm_0.66_1.00_0.01/028786_693c591fde1040608b6014d7b26c5d6a~mv2.webp.");
}

.example p {
  font-size: xx-large;
}

.bg {
  padding: 200px 0 100px;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  color: white;
  background-color: #8EF1FF;
  background-repeat: no-repeat;
  background-position: center 50%;
  background-size: cover;
}

.bg p {
  font-size: inherit;
}